*.csv
chromatic
chromatic_fitting/pymc
JWST_data
*.pyc
.ipynb_checkpoints
.idea
chromatic_fitting/archive
chromatic_fitting/tests
site/*
build/lib/chromatic_fitting/*
.DS_Store
*.npy
*.fits
*.txt
*.pickle